@import url(http://fonts.googleapis.com/css?family=Raleway:200,800);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
html,button,input,select,textarea{color:#222}
body{font-size:1em;line-height:1.4}
::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc;text-shadow:none}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
img{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical}
.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}
@media only screen and (min-width:35em){}@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){}.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}
.ir:before{content:"";display:block;width:0;height:150%}
.hidden{display:none !important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important} a,a:visited{text-decoration:underline} a[href]:after{content:" (" attr(href) ")"} abbr[title]:after{content:" (" attr(title) ")"} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""} pre,blockquote{border:1px solid #999;page-break-inside:avoid} thead{display:table-header-group;} tr,img{page-break-inside:avoid} img{max-width:100% !important} @page {margin:.5cm}p,h2,h3{orphans:3;widows:3} h2,h3{page-break-after:avoid}}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:0}
h2{font-size:1.5em;margin:0}
h3{font-size:1.17em;margin:0}
h4{font-size:1em;margin:0}
h5{font-size:.83em;margin:0}
h6{font-size:.67em;margin:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
p,pre{margin:0}
code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dl,menu,ol,ul{margin:0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
body.vanilla{font-family:'Droid Serif','Times New Roman',serif;font-size:100%;line-height:1.8em;margin-top:55px}body.vanilla>*{font-size:1em}
.vanilla h1,.vanilla h2,.vanilla h3,.vanilla h4,.vanilla h5,.vanilla h6{font-weight:200;font-family:'Raleway',Helvetica,Arial,sans-serif;line-height:1.5em;margin-bottom:.5em}
.vanilla h1{font-size:3em}
.vanilla h2{font-size:2.6em}
.vanilla h3{font-size:2.2em}
.vanilla h4{font-size:1.8em}
.vanilla h5{font-size:1.4em}
.vanilla h6{font-size:1.2em}
.vanilla p,.vanilla ul,.vanilla ol{margin-bottom:13px}
.vanilla a:link{color:#008eb4}
.vanilla a:visited{color:#4a00b4}
.vanilla a:hover,.vanilla a:focus{color:#00a2ce}
.vanilla a:active{text-decoration:none}
.vanilla table{border-top:1px solid #ccc;border-left:1px solid #ccc;width:100%}
.vanilla tr{border-bottom:1px solid #ccc}
.vanilla th,.vanilla td{border-right:1px solid #ccc;padding:3px}
.vanilla input[type="submit"],.vanilla input[type="button"],.vanilla button{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#f8f8f8;background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #fff));background:-ms-linear-gradient(bottom, #f0f0f0, #fff);background:-moz-linear-gradient(center bottom, #f0f0f0 0, #fff 100%);background:-o-linear-gradient(#fff, #f0f0f0);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0);border:1px solid #e0e0e0;padding:5px 8px;font-size:.9em}.vanilla input[type="submit"]:hover,.vanilla input[type="button"]:hover,.vanilla button:hover,.vanilla input[type="submit"]:focus,.vanilla input[type="button"]:focus,.vanilla button:focus{background:#f0f0f0;background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #e8e8e8), color-stop(1, #f8f8f8));background:-ms-linear-gradient(bottom, #e8e8e8, #f8f8f8);background:-moz-linear-gradient(center bottom, #e8e8e8 0, #f8f8f8 100%);background:-o-linear-gradient(#f8f8f8, #e8e8e8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e8e8e8', GradientType=0)}
.vanilla input[type="submit"]:active,.vanilla input[type="button"]:active,.vanilla button:active{background:#e8e8e8;background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #f8f8f8), color-stop(1, #e8e8e8));background:-ms-linear-gradient(bottom, #f8f8f8, #e8e8e8);background:-moz-linear-gradient(center bottom, #f8f8f8 0, #e8e8e8 100%);background:-o-linear-gradient(#e8e8e8, #f8f8f8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#f8f8f8', GradientType=0)}
.vanilla img,.vanilla embed,.vanilla video,.vanilla object{max-width:100%;height:auto}
.vanilla iframe{max-width:100%;width:100%;height:auto}
.vanilla>*:not(.vanilla){margin-bottom:55px;display:-webkit-box;display:-moz-box;display:box;display:-ms-flexbox;display:-webkit-flex;display:flex}.vanilla>*:not(.vanilla)>*{display:block;width:0;width:100%\9;-moz-box-flex:4;-webkit-box-flex:4;box-flex:4;-webkit-flex-grow:4;-moz-flex-grow:4;-ms-flex-grow:4;flex-grow:4;margin:0 21px}
.vanilla>*:not(.vanilla)>header,.vanilla>*:not(.vanilla)>section,.vanilla>*:not(.vanilla)>nav,.vanilla>*:not(.vanilla)>article,.vanilla>*:not(.vanilla)>main,.vanilla>*:not(.vanilla)>address,.vanilla>*:not(.vanilla)>footer{-moz-box-flex:8;-webkit-box-flex:8;box-flex:8;-webkit-flex-grow:8;-moz-flex-grow:8;-ms-flex-grow:8;flex-grow:8}
.vanilla>*:not(.vanilla)>input[type="submit"],.vanilla>*:not(.vanilla)>input[type="button"],.vanilla>*:not(.vanilla)>button{-moz-box-flex:0;-webkit-box-flex:0;box-flex:0;-webkit-flex-grow:0;-moz-flex-grow:0;-ms-flex-grow:0;flex-grow:0;width:auto}
.vanilla>input:not(.vanilla),.vanilla>label:not(.vanilla),.vanilla>select:not(.vanilla),.vanilla>datalist:not(.vanilla),.vanilla>button:not(.vanilla),.vanilla>output:not(.vanilla),.vanilla>progress:not(.vanilla),.vanilla>textarea:not(.vanilla),.vanilla>meter:not(.vanilla){margin-bottom:13px}
form.vanilla>*:not(.vanilla){margin-bottom:13px}
@media (max-width:768px){.vanilla>*:not(.vanilla){display:block}.vanilla>*:not(.vanilla)>*{width:auto;margin-bottom:21px}}@media (min-width:980px){body.vanilla{font-size:120%}}@media (max-width:979px){}@media (max-width:768px){body.vanilla{font-size:100%}}@media (max-width:480px){}
